.vscode

# Python
*.npy
*__pycache__*
.ipynb_checkpoints

# Exclude build directories
build/

# Clang
.cache/
.idea

# Python project files
uv.lock
coverage.xml
.coverage
*.egg-info
.venv
dist
__pycache__

*.hdf5
